<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274810310233-vokm8drgpp2stgsitv7k8om57t79nbkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274810310233-vokm8drgpp2stgsitv7k8om57t79nbkh</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Ox_-t7Cjv2kaSGYwrWm0uHsLvQmJl_w</string>
	<key>GCM_SENDER_ID</key>
	<string>274810310233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.namazvakitleri</string>
	<key>PROJECT_ID</key>
	<string>namazvakitleri-9c89b</string>
	<key>STORAGE_BUCKET</key>
	<string>namazvakitleri-9c89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274810310233:ios:7d97960ba643cdd8326b48</string>
</dict>
</plist>